.main-column-container {
	float: left;
	margin: 0 (-$size__site-sidebar-big) 0 0;
	width: $size__site-main;
}

.main-column {
	margin: 0 ($size__site-sidebar-big + 60px) 0 0;
}

// @media (max-width: 950px) {
// 	.site-content .widget-area {
// 		display: none;
// 	}
// }

.sidebar {
	// position: relative;
	// float: right;
	
	// overflow: hidden;
	// width: $size__site-sidebar-big;
	// margin-left: 60px;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

@import "no-sidebar";
