h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $el_green;
	font-weight: bold;
	line-height: 1.2;
}

@media (max-width: $bp_small) {
	h1 {
		font-size: 1.75em;
	}
	h2 {
		
		font-size: 1.4em;
	}
}

@media (max-width: $bp_really_small) {
	h1 {
		font-size: 1.5em;
	}
	h2 {

		font-size: 1.3em;
	}
}