.widget {
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.sidebar {
}

.quotation {
	font-style: italic;

	font-size: 1.65rem;
	line-height: 1.25;

	// padding-bottom: 0.5em;
	border-bottom: 4px solid $el_blue;
	margin-bottom: 50px;
}

.quotation-text {
	font-weight: 300;
	margin: 0 0 0.5em 0;
}

.who-said-it {
	color: $el_blue;
	font-weight: 700;
	font-size: 0.85em;

	margin-top: 20px;
	margin-bottom: 0.5em;
}

@media (max-width: $bp_large) {
	.quotation {
		font-size: 1.4rem;
		line-height: 1.25;		
	}
}

@media (max-width: $bp_med) {
	.quotation {
		font-size: 1.65rem;
		line-height: 1.25;		
	}

	.widget {
		border-bottom: 0px
	}
}