$el_blue: #00b6e4;
$el_green: #89Ab2D;
$el_white: white;
$el_bg: #e5e5e5;
$el_fg: #57585b;
$el_footer: #575757;

$el_menu_1: #6D8A24;
$el_menu_1_hover: #576F1C;
$el_menu_2: #89AB2D;
$el_menu_2_hover: #6D8A24;
$el_menu_3: #B9CF29;
$el_menu_3_hover: #89AB2D;

$el_mediumgrey: #8f8e8e;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link: $el_blue; /* PM */
$color__link-visited: purple;
$color__link-visited: #087797; /* PM */
$color__link-hover: midnightblue;
$color__link-hover: $el_green; /* PM */
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
