$size__site-full: 1024px;
$size__site-main: 100%;
$size__site-sidebar-big: 220px;
$size__site-sidebar-med: 200px;
$size__site-sidebar-small: 180px;

$bp_large: 950px;
$bp_med: 750px;
$bp_small: 675px;