// $font__main: 'Raleway', sans-serif;
$font__main: 'Rawline', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

@import 'fonts/rawline/rawline.css'

// @font-face {
// 	font-family: 'Rawline';
// 	src: url('fonts/rawline/rawline-400.woff2') format('woff2'),
//          url('fonts/rawline/rawline-400.woff') format('woff');
// }